.Restaurant {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.66rem;
    margin: 0 .5rem 2.3rem .5rem;
  }
  
  .Restaurant .image-container {
    height: 16.66rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
  }
  
  .Restaurant h2 {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .Restaurant-information {
    display: flex;
    justify-content: space-between;
  }
  
  .Restaurant-information p {
    font-size: .88rem;
    font-weight: 300;
    line-height: 1rem;
  }
  
  .Restaurant-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .Restaurant-reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }
  
  .Restaurant-reviews h3 {
    color: #568203;
    font-weight: 600;
  }
  
  .Restaurant-reviews .rating {
    font-size: .88rem;
    line-height: 1rem;
  }